* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}


/******************** 
    Navigation Bar 
********************/
nav {
    padding: 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo {
    width: 139px;
    height: 60px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.menu p {
    font-weight: 500;

}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.btn:hover {
    background-color: #30B868;
    cursor: pointer;
}

/******************** 
    Hero Section 
********************/
.hero {
    height: 674px;
    width: 100%;
    background-image: url(../assets/cropped-hands-woman-writing-book\ 1.png);
    padding: 70px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.early-access {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 1000px;
    background-color: #FFFFFF;
}

.early {
    height: 16px;
    width: 16px;
}

.early-access>p {
    color: #469165;
    font-weight: 500;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.normalH {
    font-size: 72px;
    font-weight: 700;
    color: white;
}

.greenH {
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
}

.hero-content p {
    color: white;
    padding: 0 320px;
    text-align: center;
    line-height: 24px;
}


.buttons {
    display: flex;
    gap: 16px;
}

.button-img {
    height: 16px;
    width: 16px;
}

.buttons>.btn>p {
    font-weight: 600;
}

.button2 {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/******************** 
    notes Section 
********************/
.notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.notes-head {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.notes-head>h1 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
}

.notes-head>p {
    color: #627382;
}

.notes-cards {
    display: flex;
    gap: 24px;
    padding: 0 120px;
}

.card {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.099);


}

.card-img {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card>h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #001931;
}

.card>p {
    font-size: 16px;
    text-align: center;
    color: #001931;
}

/******************** 
    second-brain Section 
********************/
.second-brain {
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brain-img {
    height: 600px;
    width: 600px;
}

.brain-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brain-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.solution {
    font-weight: 500;
    color: #469165;
}

.brain-details h1 {
    color: #001931;
    font-weight: 700;
    font-size: 48px;
}

.personal {
    color: #627382;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list {
    display: flex;
    gap: 6px;
}

.list>img {
    height: 20px;
    width: 20px;
}

.list>p {
    color: #001931;
    font-weight: 500;
}

/******************** 
    ready? Section 
********************/
.ready {
    margin: 0 120px;
    background-color: #F7F6F2;
    padding: 80px 40px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.ready h1 {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
}

.ready>p {
    color: #627382;
}

/******************** 
    Footer 
********************/
footer {
    background-color: #001931;
    padding: 120px;
    padding-bottom: 30px;
}

.first-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.social p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-link > a > img {
    height: 20px;
    width: 20px;
}

.second-foot {
    text-align: center;
    color: #FAFAFA;
    border-top: 1px solid #E5E7EB;
    padding-top: 30px;
}