* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}


/******************** 
    Navigation Bar 
********************/
nav {
    padding: 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo {
    width: 139px;
    height: 60px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.menu p {
    font-weight: 500;

}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    background-color: #469165;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn:hover {
    background-color: #30B868;
    cursor: pointer;
}

/******************** 
    Hero Section 
********************/
.hero {
    height: 674px;
    width: 100%;
    background-image: url(../assets/cropped-hands-woman-writing-book\ 1.png);
    padding: 70px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.early-access {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 12px;
    gap: 6px;
    border-radius: 1000px;
    background-color: #FFFFFF;
}

.early {
    height: 16px;
    width: 16px;
}

.early-access>p {
    color: #469165;
    font-weight: 500;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.normalH {
    font-size: 72px;
    font-weight: 700;
    color: white;
}

.greenH {
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
}

.hero-content p {
    color: white;
    padding: 0 320px;
    text-align: center;
    line-height: 24px;
}


.buttons {
    display: flex;
    gap: 16px;
}

.button-img {
    height: 16px;
    width: 16px;
}

.buttons>.btn>p {
    font-weight: 600;
}

.button2 {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/******************** 
    notes Section 
********************/
.notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.notes-head {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.notes-head>h1 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
}

.notes-head>p {
    color: #627382;
    font-weight: 400;
}

.notes-cards {
    display: flex;
    gap: 24px;
    padding: 0 120px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px;

}

.card-img {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card> h3{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #001931;
}
.card> p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #001931;
}